{% extends 'layout.html' %}
{% load static %}

{% block content %}

<div class="flex flex-col justify-center font-[sans-serif] sm:h-screen p-4">
    <div class="max-w-md w-full mx-auto border border-gray-300 rounded-2xl p-8">

        <form method='post' action='{% url "login" %}'>
            {% csrf_token %}
            <div class="space-y-6">
                {% if messages %}
                    <div class="text-[#3770eb] text-sm mt-2">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <div>
                    <label class="text-gray-800 text-sm mb-2 block">Username</label>
                    <input name="username" type="text" class="text-gray-800 bg-white border border-secondary w-full text-sm px-4 py-3 rounded-md outline-primary" placeholder="Enter username" />
                </div>
                <div>
                    <label class="text-gray-800 text-sm mb-2 block">Password</label>
                    <input name="password" type="password" class="text-gray-800 bg-white border border-secondary w-full text-sm px-4 py-3 rounded-md outline-primary" placeholder="Enter password" />
                </div>

                <div class="flex flex-wrap items-center justify-between gap-4">
                    <div class="flex items-center">
                        <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 shrink-0 text-secondary focus:ring-primary border-primary rounded" />
                        <label for="remember-me" class="ml-3 block text-sm text-secondary">
                            Remember me
                        </label>
                    </div>
                </div>
            </div>

            <div class="!mt-12">
                <button type="submit" class="w-full py-3 px-4 text-sm tracking-wider font-semibold rounded-md text-white bg-[#3764ec] hover:bg-primary focus:outline-none">
                    Sign In
                </button>
            </div>
            <p class="text-gray-800 text-sm mt-6 text-center">Don't have an account? <a href="{% url 'register' %}" class="text-secondary font-semibold hover:underline ml-1">Register here</a></p>
        </form>
    </div>
</div>

{% endblock %}