{% load static %}

<footer class="bg-gray-900 text-gray-300 py-6 px-16 font-sans tracking-wide">
      <div class="flex justify-between items-center max-lg:flex-col text-center flex-wrap gap-4">
        <p class="text-[15px] leading-loose">© eLearning. All rights reserved.</p>

            <ul class="flex gap-4">
              {% for link in social_media_links %}
                <li><a href="{{ link.url }}" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="fill-gray-300 inline hover:fill-white w-6 h-6"
                    viewBox="0 0 24 24">
                      {{ link.svg_path|safe }}
                  </svg></a>
                </li>
              {% endfor %}
            </ul>
      </div>
</footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>